@import '../vars.scss';

.playground-content {
    .playground-intro {
        background-color: $accent;
        margin: -30px -90px;  // negate body padding
        font-size: 26px;
        padding: 40px;
        text-align: center;
        
        h3, h4 {
            color: $off-white;
        }
    }

    .instructions {
        font-family: $logo-font;
        font-size: 20px;
        text-align: center;
        margin: 50px;
    }

    hr {
        border-top: 2px solid $secondary-accent;
    }

    .gender-icon-wrapper {
        display: block;
        margin: auto;
        text-align: center;
        padding: 40px;

        svg {
            color: $ternary-accent;
            transition: 0.2s;
            margin: 30px;
            height: 300px;
            display: inline-block;
        }
        
        svg:hover {
            transform: scale(1.2, 1.2);
            shadow: 5px 5px 30px 15px $dark, -5px -5px 30px 15px $dark;
        }

        svg.selected {
            color: $accent;
            transform: scale(1.3, 1.3);
        }

        #venus {
            path {
                margin-top: 30px;
            }
        }
    }

    .face-select-wrapper {
        text-align: center;

        .face-select {
            margin: auto;
            max-width: 60vw;
        }
    }

    .trait-select {
        .trait-cloud {
            width: 300px;

            .selected {
                color: $accent;
            }
        }
    }
}