// import fonts from google
@import url(https://fonts.googleapis.com/css2?family=Metrophobic&display=swap);  // Metrophobic
@import url(https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap);  // Libre Caslon Display

// font families
$logo-font: 'Metrophobic', 'Trebuchet MS', sans-serif;
$body-font-family: 'Libre Caslon Display', 'Georgia', serif;

// colors
$accent: #c84c1f;
$secondary-accent: #E9D286;
$ternary-accent: #f8bbb6;
$dark: #1E1F1E;
$off-white: #f8f4e8;